.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lexend Deca';
}
.card{
    width: 307px;
    height: 500px;
}

.icon-card{
    padding: 48px 0 35px 48px;
}

.title-card{
    font-family: 'Big Shoulders Display';
    font-size: 40px;
    color: #F2F2F2;
    padding-left: 48px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.description{

color: #F2F2F2;
font-size: 15px;
font-weight: 400;
letter-spacing: 0px;
line-height: 25px;
margin-bottom: 83px;
opacity: 75%; 
padding: 0 45.5px;
text-align: left;
}

.btn-card{
    border-radius: 50px;
    border: none;
    font-family: 'Lexend Deca';
    font-size: 15px;
    height: 48px;
    margin-left: 48px;
    width: 146px
}

.btn-card.color-sedans{
    color: hsl(31, 77%, 52%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
   
}

.btn-card.color-sedans:hover{
    border: solid 2px  #F2F2F2;
    background-color:hsl(31, 77%, 52%) ;
    color:#F2F2F2 ;
}

.btn-card.color-suvs{
    color:  hsl(184, 100%, 22%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn-card.color-suvs:hover{
    border: solid 2px  #F2F2F2;
    background-color:hsl(184, 100%, 22%) ;
    color:#F2F2F2 ;
}

.btn-card.color-luxury{
    color: hsl(179, 100%, 13%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-card.color-luxury:hover{
    border: solid 2px  #F2F2F2;
    background-color:hsl(179, 100%, 13%) ;
    color:#F2F2F2 ;
}


.sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
    
}

.suvs{
    background-color:  hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius:0 8px  8px 0;
}

@media(max-width:442px) {
    .container{
        flex-direction: column;
    }

    .card{
        width: 327px;
        height: 442px;
    }

    .description{
        margin-bottom: 25px;
    }

    .btn-card{
        margin-bottom: 48px;
    }

    .sedans{
        border-radius: 8px 8px 0 0;
        
    }
    .container{
        margin:48px 88px;
    }

    
}
